
#wb_header { height: 518px; }
#wb_header > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_main { height: 390px; padding-bottom: 20px; }
#wb_main > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_footer { height: 160px; }
#wb_footer > .wb_cont_bg { background: transparent none repeat scroll center bottom; }
body { background: #212121 url("../gallery_gen/a5b32fa0b8b9353ed90d4ee178d45923.jpg") repeat-x scroll center top; }
.wb_sbg { background: transparent none repeat-x scroll left top; }
body, .wb_sbg { min-width: 1200px; min-height: 1068px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 1048px; overflow: visible; min-height: 1068px; }
#wb_element_instance0 { top: 20px; left: 814px; min-width: 280px; width: 280px; min-height: 24px; height: 24px; display: block; z-index: 257; }
#wb_element_instance0 ul { background: transparent none repeat scroll left top; border: 0px none #000000; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: left; }
#wb_element_instance0 ul ul { background: #2e2e2e none repeat scroll left top; }
#wb_element_instance0 li { margin: 10px 10px 10px 10px; }
#wb_element_instance0 li a { border: 0px none #000000; padding: 2px 2px 2px 2px; font: normal normal 22px Arial,Helvetica,sans-serif; text-decoration: none; color: #2c2c2c; line-height: 24px; background: transparent none repeat scroll left top; }
#wb_element_instance0 li.over > a, #wb_element_instance0 li:focus > a { border: 0px none #000000; font: normal normal 22px Arial,Helvetica,sans-serif; text-decoration: none; color: #43852d; line-height: 24px; background: transparent none repeat scroll left top; }
#wb_element_instance0 li.active > a { border: 0px none #000000; font: normal normal 22px Arial,Helvetica,sans-serif; text-decoration: none; color: #43852d; line-height: 24px; background: transparent none repeat scroll left top; }
#wb_element_instance0:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance0:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance0:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance1 { top: 50px; left: 0px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; z-index: 43; }
#wb_element_instance1 > .wb_shp { background: #00ffa2 none repeat scroll left top; background-size: auto auto; border: 10px solid #00d68f; opacity: 1; border-radius: 100px 100px 100px 100px; -moz-border-radius: 100px 100px 100px 100px; -webkit-border-radius: 100px 100px 100px 100px; width: 60px; height: 60px; }
#wb_element_instance2 { top: 54px; left: 70px; min-width: 1120px; width: 1120px; min-height: 56px; height: 56px; display: block; z-index: 63; }
#wb_element_instance3 { top: 190px; left: 10px; min-width: 1180px; width: 1180px; min-height: 84px; height: 84px; display: block; z-index: 66; }
#wb_element_instance4 { top: 380px; left: 10px; min-width: 1180px; width: 1180px; min-height: 90px; height: 90px; display: block; z-index: 70; }
#wb_element_instance5 { top: 91px; left: 374px; min-width: 200px; width: 200px; min-height: 200px; height: 200px; display: block; z-index: 39; }
#wb_element_instance5 > .wb_shp { background: #00ffa2 none repeat scroll left top; background-size: auto auto; border: 20px solid #00d68f; opacity: 1; border-radius: 100px 100px 100px 100px; -moz-border-radius: 100px 100px 100px 100px; -webkit-border-radius: 100px 100px 100px 100px; width: 200px; height: 200px; }
#wb_element_instance6 { top: 133px; left: 430px; min-width: 90px; width: 90px; min-height: 84px; height: 84px; display: block; z-index: 46; }
#wb_element_instance7 { top: 10px; left: 0px; min-width: 1200px; width: 1200px; min-height: 30px; height: 30px; display: block; z-index: 40; }
#wb_element_instance8 { top: 210px; left: 420px; min-width: 100px; width: 100px; min-height: 33px; height: 33px; display: block; z-index: 47; }
#wb_element_instance9 { top: 91px; left: 644px; min-width: 200px; width: 200px; min-height: 200px; height: 200px; display: block; z-index: 41; }
#wb_element_instance9 > .wb_shp { background: #00ffa2 none repeat scroll left top; background-size: auto auto; border: 20px solid #00d68f; opacity: 1; border-radius: 100px 100px 100px 100px; -moz-border-radius: 100px 100px 100px 100px; -webkit-border-radius: 100px 100px 100px 100px; width: 200px; height: 200px; }
#wb_element_instance10 { top: 133px; left: 700px; min-width: 90px; width: 90px; min-height: 84px; height: 84px; display: block; z-index: 50; }
#wb_element_instance11 { top: 210px; left: 690px; min-width: 110px; width: 110px; min-height: 33px; height: 33px; display: block; z-index: 49; }
#wb_element_instance12 { top: 330px; left: 0px; min-width: 1200px; width: 1200px; min-height: 20px; height: 20px; display: block; z-index: 42; }
#wb_element_instance13 { top: 170px; left: 234px; min-width: 140px; width: 140px; min-height: 30px; height: 30px; display: block; z-index: 43; }
#wb_element_instance14 { top: 170px; left: 574px; min-width: 70px; width: 70px; min-height: 30px; height: 30px; display: block; z-index: 44; }
#wb_element_instance15 { top: 170px; left: 844px; min-width: 140px; width: 140px; min-height: 30px; height: 30px; display: block; z-index: 45; }
#wb_element_instance16 { top: 10px; left: 20px; min-width: 150px; width: 150px; min-height: 33px; height: 33px; display: block; z-index: 53; }
#wb_element_instance17 { top: 10px; left: 230px; min-width: 330px; width: 330px; min-height: 120px; height: 120px; display: block; z-index: 54; }
#wb_element_instance18 { top: 10px; left: 600px; min-width: 200px; width: 200px; min-height: 48px; height: 48px; display: block; z-index: 55; }
#wb_element_instance19 { top: 370px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance20 { top: 150px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance2 p:last-child { margin-bottom: 0; }
#wb_element_instance3 p:last-child { margin-bottom: 0; }
#wb_element_instance4 p:last-child { margin-bottom: 0; }
#wb_element_instance6 p:last-child { margin-bottom: 0; }
#wb_element_instance7 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 3px dashed #00ffc8;; }
#wb_element_instance8 p:last-child { margin-bottom: 0; }
#wb_element_instance10 p:last-child { margin-bottom: 0; }
#wb_element_instance11 p:last-child { margin-bottom: 0; }
#wb_element_instance12 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 3px dashed #00ffc8;; }
#wb_element_instance13 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 10px solid #00d68f;; }
#wb_element_instance14 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 10px solid #00d68f;; }
#wb_element_instance15 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 10px solid #00d68f;; }
#wb_element_instance16 p:last-child { margin-bottom: 0; }
#wb_element_instance17 p:last-child { margin-bottom: 0; }
#wb_element_instance18 p:last-child { margin-bottom: 0; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
